html, body {
  background-color: #26C4EC !important;
}

.content-box {
  margin: auto;
  padding: 40px;
  max-width: 800px;
}

.animatedbox {
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  font-family: 'Trebuchet MS';
  animation-name: enter;
  animation-duration: 1s;
}

.status {
  max-width: 700px;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: white;
  margin-top: 15px;
}

.success {
  background-color: #16B84E;
}

.error {
  background-color: #E9383F;
}

.content {
  background-color: #FFF;
  margin: auto;
  margin-top: 50px;
}

.menu {
  background-color: #FFF;
  margin: auto;
  margin-top: 50px;
  padding: 0px !important;
}

.menu ul {
  padding: 0px;
  margin: 0px;
}

.menu li {
  display: block;
}

.menu a {
  display: block;
  color: white;
  background-color: #2C75FF;
  padding: 10px;
  transition: background-color 0.5s;
}

.menu a:hover, .menu .active a {
  background-color: white;
  text-decoration: none;
  color: #2C75FF;
}

.content h2 {
  margin-top: 5px;
}

.ig-links a, .ig-links a:hover {
  color: #26C4EC;
  text-decoration: none;
}

.btn-default {
  background-color: #26C4EC !important;
  color: white !important;
  width: 100%;
}

@keyframes enter {
  0%   {margin-top: -500px; opacity: 0; transform: rotate(-20deg);}
  50%  {margin-top: 50px; opacity: 1; transform: rotate(4deg);}
  100% {transform: rotate(0deg);}
}
